---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Wer bin ich">
  <h1 id="who-am-i">Wer bin ich?</h1>
  <p>
    Hi! Mein Name ist Mario und ich arbeite schon seit vielen Jahren als Web
    Entwickler. Die ersten Zeilen Code die ich geschrieben habe war 1999. Es war
    die Zeit der klobigen und hässlichen Websites welche Tabellen verwendeten um
    die gesamte Website zu positionieren und anzuordnen.
  </p>
  <p>
    In den 90er Jahren bestand meine Freizeit hauptsächlich darin, Videospiele
    zu spielen. Aber ich wollte auch eine Website. Natürlich eine Seite über
    Videospiele. Ohne Ahnung von irgendetwas versuchte ich, dieses hässliche
    Ding zu bauen. Damals wusste ich noch gar nicht, dass man eine Domain und
    einen Provider braucht, bei dem man den Code hochladen muss. Es war zu
    dieser Zeit noch sehr kostspielig, also hat meine erste Website nie die Welt
    gesehen. Aber diese erste Website war der Funke, der mich dazu brachte,
    meine Reise in die Webentwicklung zu beginnen.
  </p>

  <h2 id="skills">Technologien und Skills</h2>
  <p>
    Es gibt natürlich noch ein paar mehr, aber das sind die Technologien in
    denen ich aktuell fit bin. Alles andere liegt etwas zurück und ist nicht mit
    in der Liste. HTML versteht sich von selbst 🙂
  </p>
  <div class="grid gap-4 grid-cols-4 my-16">
    <Card>
      <span slot="title">CSS</span>
      <div class="py-2">SASS</div>
      <div class="py-2">Bootstrap</div>
      <div class="py-2">Tailwind CSS</div>
    </Card>
    <Card>
      <span slot="title">JavaScript</span>
      <div class="py-2">Node.js</div>
      <div class="py-2">Vue.js</div>
      <div class="py-2">Astro</div>
    </Card>
    <Card>
      <span slot="title">PHP</span>
      <div class="py-2">Typo3</div>
      <div class="py-2">Symfony</div>
    </Card>
    <Card>
      <span slot="title">Datenbanken</span>
      <div class="py-2">MySQL</div>
      <div class="py-2">SQLite</div>
      <div class="py-2">MongoDB</div>
    </Card>
  </div>
</Layout>
