---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Datenschutz">
  <h1 id="datenschutz">Datenschutz</h1>
  <br />
  <p>
    Für die Besucher von [XY] verwenden wir keine Cookies und wir erheben keine
    personenbezogenen Daten.
  </p>

  <h2 id="mitmario">Als Besucher der [XY] Webseite</h2>
  <ul class="list-disc ps-6">
    <li>Es werden keine persönlichen Daten erhoben.</li>
    <li>Es werden keine persönlichen Daten im Browser gespeichert.</li>
    <li>Es werden keine Informationen an Werbefirmen weitergegeben.</li>
    <li>
      Es werden keine Informationen über persönliche und verhaltensbezogene
      Trends gesammelt und ausgewertet.
    </li>
  </ul>
</Layout>
