---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Was verwende ich">
  <h1 id="uses">Was verwende ich?</h1>
  <p>
    Manchmal werde ich gefragt was ich für meine tägliche Arbeit, Nebenprojekte
    und für meine YouTube-Videos verwende. Also beschloss ich, diese kleine
    Seite zu veröffentlichen, die alles zusammenfasst. Von Zeit zu Zeit ändert
    sich das eine oder andere, daher dient diese Seite als lebendiges Dokument
    und als Ort, an den neugierige Entwickler verwiesen werden können, wenn ich
    gefragt werde. Alle Links sind <b>KEINE</b> Affiliate Links.
  </p>

  <h2 id="ide">IDE + Code Editor</h2>
  <p>
    Für die tägliche Arbeit verwende ich <a
      href="https://www.jetbrains.com/"
      target="_blank">IntelliJ IDEA Ultimate</a
    >. Es ist eine der besten IDEs, die es gibt und bietet eine Menge
    Funktionen, welche ich für meine Arbeit benötige. Ein Komplettpaket wo
    nichts fehlt und Dank der neuen UI endlich auch übersichtlicher.
  </p>
  <p>
    Bei kleinen Nebenprojekte und meinen YouTube Tutorials verwende ich <a
      href="https://code.visualstudio.com/"
      target="_blank">Visual Studio Code</a
    >. Es ist ein sehr guter Code Editor, der sehr schnell ist und viele
    nützliche Plugins bietet um alles an seine eigenen Bedürfnisse anzupassen.
  </p>

  <h2 id="apps">Desktop Apps</h2>
  <p>
    Der Chrome ist mein Hauptbrowser seit 2021. Einfach aus dem Grund weil
    dieser recht zügig neue Features im Bereich CSS und JavaScript unterstützt,
    welche ich testen möchte. Ansonsten hab ich mich wohl einfach daran gewöhnt
    diesen zu verwenden. Davor habe ich immer mal zwischen Chrome und Firefox
    gewechselt.
  </p>
  <p>
    Bei der Bildschirmaufnahme muss <a
      href="https://obsproject.com/de"
      target="_blank">OBS Studio</a
    > erhalten. Es ist ein sehr gutes Programm um Videos aufzunehmen und zu streamen,
    sehr einfach zu bedienen und bietet viele Funktionen und Plugins.
  </p>
  <p>
    <a
      href="https://www.blackmagicdesign.com/de/products/davinciresolve/"
      target="_blank">DaVinci Resolve</a
    > ist mein Hauptprogramm für Videoschnitt. Die Standard Version ist kostenlos
    und bietet eine Menge Funktionen, welche vollkommen ausreichen um Tutorial Videos
    zu schneiden.
  </p>
  <p>
    Wer Grafiken braucht und Fotos bearbeitet, der kommt meiner Meinung nach
    nicht an <a href="https://affinity.serif.com/de/" target="_blank"
      >Affinity</a
    > vorbei. Deutlich günstiger als die bekannte Alternative und ähnlich zu bedienen.
    Ein Umstieg lohnt sich. Ich verwende es um meine Thumbnails zu erstellen.
  </p>

  <h2 id="desksetup">Desk Setup</h2>
  <p>
    Herzstück meines Setups ist natürlich mein PC, welchen ich mir im Januar
    2022 zusammengesteckt habe. In einem Corsair 5000D Airflow Gehäuse verbirgt
    sich ein Intel Core i5-12600k mit 64 GB DDR4 Arbeitsspeicher von Kingston
    FURY. Abgerundet wird dies mit einer 12GB NVIDIA Geforce RTX 3060.
    Gespeichert wird alles auf einer 2TB M.2 EVO 970 Plus SSD von Samsung. Für
    das Programmieren allein viel zu übertrieben, aber für das Rendern von
    Videos sehr angenehm.
  </p>
  <p>
    Vor mir befindet sich eine <a
      href="https://www.sony.de/electronics/cyber-shot-kompaktkameras/zv-1"
      target="_blank">Sony ZV-1 Kamera</a
    >, welche mich für meine Videos aufnimmt. Diese hängt an einer Elgato <a
      href="https://www.elgato.com/de/cam-link-4k"
      target="_blank">Cam Link 4k</a
    >, die das Signal von der Kamera aufnimmt und an meinen PC weiterleitet. Das
    Bild wird dann mit OBS Studio zusammen mit dem Desktopbild aufgenommen.
    Damit minimiere ich den Aufwand für den Videoschnitt nach der Aufnahme.
  </p>
  <p>
    Hinter mir befindet sich ein <a
      href="https://www.elgato.com/de/green-screen-xl"
      target="_blank">Green Sceen XL</a
    > von Elgato welches ich bei Bedarf einfach aufstellen und aufziehen kann. Damit
    wird dann im OBS Studio automatisch der Hintergrund entfernt. Eine <a
      href="https://www.elgato.com/de/key-light"
      target="_blank">Elgato Key Light</a
    > dient als Lichtspender. Die Verrückten stellen sich zwei von denen hin, aber
    eine ist genug für die lichtscheuen Programmierer unter uns.
  </p>
  <p>
    Bzgl. Audio wird in ein <a
      href="https://www.shure.com/de-DE/produkte/mikrofone/sm7b"
      target="_blank">Shure SM7B Mikrofon</a
    > genuschelt, welches an einem <a
      href="https://www.tc-helicon.com/product.html?modelCode=P0DI7"
      target="_blank">GoXLR Mini</a
    > hängt. Dieses filtert automatisch die Umgebungsgeräusche heraus und gibt das
    Signal an meinen PC weiter. Dort wird es dann mit OBS Studio aufgenommen und
    in das Video eingebunden.
  </p>
  <p>
    Als Tastatur verwende ich die <a
      href="https://www.logitech.com/en-us/product/k780-multi-device-wireless-keyboard"
      target="_blank">Logitech K780</a
    > und als Maus die <a
      href="https://www.logitech.com/en-us/product/m720-triathlon"
      target="_blank">Logitech K720</a
    >.
  </p>
</Layout>
