<div class="border-2 border-dark dark:border-light p-2 rounded-xl text-center">
  <div class="bg-dark dark:bg-light text-light dark:text-dark rounded-md py-2">
    <slot name="title" />
  </div>
  <slot />
</div>
