<footer>
  <div
    class="flex flex-col md:flex-row justify-center items-center px-4 pt-8 pb-4 gap-2 text-lg md:text-xl dark:text-light"
  >
    <div class="hidden md:block">&lt;</div>
    <div>
      Coded by <a
        href="https://twitter.com/ProgrammierenM"
        target="_blank"
        class="text-blue-700 dark:text-green-400 hover:underline"
        >Mario Laurich</a
      >
    </div>
    <div class="hidden md:block">/</div>
    <div class="flex justify-center items-center gap-2">
      <div>Implemented with</div>
      <a
        href="https://astro.build/"
        class="flex items-center justify-center dark:bg-light rounded-sm pt-1 px-1"
      >
        <img src="/icons/astro.svg" width="70" alt="astro.build" />
      </a>
    </div>
    <div class="hidden md:block">/</div>
    <div>&copy; 2023</div>
    <div class="hidden md:block">&gt;</div>
  </div>
  <div
    class="flex flex-col md:flex-row justify-center items-center px-4 pb-8 mb-16 gap-2 text-lg md:text-xl dark:text-light"
  >
    <div class="hidden md:block">&lt;</div>
    <div>
      <a
        href="/impressum"
        class="text-blue-700 dark:text-green-400 hover:underline">Impressum</a
      >
    </div>
    <div class="hidden md:block">/</div>
    <div>
      <a
        href="/datenschutz"
        class="text-blue-700 dark:text-green-400 hover:underline">Datenschutz</a
      >
    </div>
    <div class="hidden md:block">&gt;</div>
  </div>
</footer>
