---
import NavigationLinks from "./NavigationLinks.astro";
---

<div class="fixed md:hidden bottom-0 w-screen">
  <nav
    class="bg-light dark:bg-dark border-t-2 border-dark dark:border-light w-screen h-20 flex items-center justify-center gap-x-4 sm:gap-x-8 text-lg"
  >
    <NavigationLinks />
  </nav>
</div>
