---
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---

<NavigationSocialIcon
  icon="logos:twitter"
  url="https://twitter.com/ProgrammierenM"
  title="Twitter"
/>
<NavigationSocialIcon
  icon="logos:youtube-icon"
  url="https://www.youtube.com/@ProgrammierenMario/videos"
  title="YouTube"
/>
<NavigationSocialIcon
  icon="mdi:github"
  url="https://github.com/ProgrammierenM"
  title="GitHub"
/>
<NavigationSocialIcon
  icon="mdi:alternate-email"
  url="mailto:mail@support.de"
  title="Email"
  target="_self"
/>
<NavigationSocialIcon
  icon="ph:coffee-fill"
  url="https://paypal.me/webnoob"
  title="Gib mir einen Kaffee aus"
  css="text-amber-800 dark:text-amber-500"
/>
<div
  id="colorSwitch"
  class="hover:cursor-pointer bg-dark dark:bg-light rounded-full p-1"
>
  <img src="/icons/moon.svg" alt="moon" class="w-6 h-6" />
</div>
