---
import NavigationLinks from "../components/NavigationLinks.astro";
import NavigationSocialBar from "../components/NavigationSocialBar.astro";

const { title, description, keywords, author } = Astro.props.frontmatter;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <meta name="keywords" content={keywords} />
    <meta name="robots" content="index, follow" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="font-mono bg-light dark:bg-dark text-dark dark:text-light">
    <main class="md:container md:mx-auto w-full min-h-screen">
      <header class="flex items-center justify-between px-4 py-8 font-medium">
        <nav class="flex items-center justify-center gap-x-8 text-2xl">
          <NavigationLinks />
        </nav>
        <nav class="flex items-center justify-center gap-x-5">
          <NavigationSocialBar />
        </nav>
      </header>
      <article class="text-2xl px-4 py-8">
        <slot />
      </article>
      <footer></footer>
    </main>
    <script src="../js/app.js"></script>
  </body>
</html>
<style is:global>
  @import "../styles/base.css";
</style>
