---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import NavigationMobile from "../components/NavigationMobile.astro";

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body class="font-mono bg-light dark:bg-dark text-dark dark:text-light">
    <main class="relative md:container md:mx-auto w-full min-h-screen">
      <Header />
      <article class="text-lg md:text-2xl px-4 py-8">
        <slot />
      </article>
      <Footer />
      <NavigationMobile />
    </main>
    <script src="../js/app.js"></script>
  </body>
</html>
<style is:global>
  @import "../styles/base.css";
</style>
